body, html { 
    height: 100%; 
    display: grid;
    margin: 0; 
}

.container { 
    display: grid;
    margin: auto; 
    width: 48vw; 
    height: 48vw; 
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    
}

.container div { 
    background-color: red;
    margin: 1px; 
}